<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<div class="search">
        <!-- <form (submit)="searchFeild(this.city)" #form="ngForm">
                <input type="text" name="city" [(ngModel)]="city" placeholder="Search city">
        </form> -->
        <input type="text" name="city" [(ngModel)]="city" placeholder="Search city">
        <button (click)="searchFeild(city)">Search</button>
</div>




<!-- API DATA -->

<div *ngIf="myWeather" class="container">
        <div class="upper-data">
                <img src="../assets/hot_sky.png" *ngIf="myWeather.main.temp > 15" alt="image">
                <img src="../assets/cold_sky.png" *ngIf="myWeather.main.temp <= 15" alt="image">

                <div class="weather-data">
                        <div class="location">{{myWeather.name}}</div>
                        <div class="temprature"> {{temperature | number: '1.0-0'}}°C </div>
                </div>

        </div>
        <div class="lower-data">
                <div class="more-info-label">
                        More Information
                </div>
                <div class="more-info-container">
                        <div class="info-block">
                                <div class="info-block-label">
                                        <img src="../assets/min_temp.png" alt="" srcset="">
                                        <span>min</span>
                                </div>
                                <div class="info-block-value">
                                        <!-- {{myWeather.main.temp_min | number: '1.0-0'}}°C -->
                                        {{minTemp | number: '1.0-0'}}°C
                                </div>
                        </div>

                        <div class="info-block">
                                <div class="info-block-label">
                                        <img src="../assets/max_temp.png" alt="" srcset="">
                                        <span>max</span>
                                </div>
                                <div class="info-block-value">
                                        <!-- {{myWeather.main.temp_max | number: '1.0-0'}}°C -->
                                        {{maxTemp | number: '1.0-0'}}°C
                                </div>
                        </div>

                        <div class="info-block">
                                <div class="info-block-label">
                                        <img src="../assets/humadity.png" alt="" srcset="">
                                        <span>humidity</span>
                                </div>
                                <div class="info-block-value">
                                        {{myWeather.main.humidity}} %
                                </div>
                        </div>

                        <div class="info-block">
                                <div class="info-block-label">
                                        <img src="../assets/air.png" alt="" srcset="">
                                        <span>wind</span>
                                </div>
                                <div class="info-block-value">
                                        {{myWeather.wind.speed}} km/h
                                </div>
                        </div>
                </div>
        </div>
</div>


<!-- STATIC DATA -->

<!-- <div class="container">
        <div class="upper-data">
                <img src="../assets/hot_sky.png" *ngIf="14 < 15" alt="image">
                <img src="../assets/cold_sky.png" *ngIf="14 >= 15" alt="image">

                <div class="weather-data">
                        <div class="location">New York</div>
                        <div class="temprature"> {{14.40 | number: '1.0-0'}}°C </div>
                </div>

        </div>
        <div class="lower-data">
                <div class="more-info-label">
                        More Information
                </div>
                <div class="more-info-container">
                        <div class="info-block">
                                <div class="info-block-label">
                                        <img src="../assets/min_temp.png" alt="" srcset="">
                                        <span>min</span>
                                </div>
                                <div class="info-block-value">
                                        10°C
                                </div>
                        </div>

                        <div class="info-block">
                                <div class="info-block-label">
                                        <img src="../assets/max_temp.png" alt="" srcset="">
                                        <span>max</span>
                                </div>
                                <div class="info-block-value">
                                        20°C
                                </div>
                        </div>

                        <div class="info-block">
                                <div class="info-block-label">
                                        <img src="../assets/humadity.png" alt="" srcset="">
                                        <span>humidity</span>
                                </div>
                                <div class="info-block-value">
                                        77%
                                </div>
                        </div>

                        <div class="info-block">
                                <div class="info-block-label">
                                        <img src="../assets/air.png" alt="" srcset="">
                                        <span>wind</span>
                                </div>
                                <div class="info-block-value">
                                        11km/h
                                </div>
                        </div>
                </div>
        </div>
</div> -->